/* Product Sans */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../public/ProductSans-Light.woff") format('woff');
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../public/ProductSans-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../public/ProductSans-Medium.woff") format('woff');
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../public/ProductSans-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../public/ProductSans-Black.woff") format('woff');
}
