**/node_modules
README.md
tsconfig.json
# next.config.js
# src/generated/graphql.tsx
.eslintrc.json
eslint_report.json
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
next-env.d.ts
src/generated/graphql/schema.json
src/messages/*.json
